/* xs css */
#StateMemberContainer::-webkit-scrollbar {
    width: 10px;
}

#StateMemberContainer::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 50px;
}

#StateMemberContainer::-webkit-scrollbar-thumb {
    background: #C0C0C0;
    border-radius: 10px;
}

#StateMemberContainer {
    overflow-y: auto;
    height: 525px;
}

#house_heading {
    margin-top: 25px;
}

.chamber-heading {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sm css */
@media (min-width: 540px) {}

/* md css - breakpoint */
@media (min-width: 768px) {}

/* lg css - breakpoint */
@media (min-width: 992px) {}

/* xl css - breakpoint */
@media (min-width: 1200px) {}